 {% extends 'themes/base_visitor.html.twig' %}

{% block title %}Toutes nos recettes simples et rapides | Blog cuisine{% endblock %}

{% block description %}
Parcourez toutes nos recettes de cuisine simples, rapides et faciles à préparer. 
Trouvez des idées de repas pour le quotidien : entrées, plats, desserts et cuisine familiale.
{% endblock %}

{% block keywords %}
recettes simples, recettes rapides, idées repas faciles, cuisine maison, 
recettes familiales, liste recettes, blog cuisine facile
{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">
        Toutes nos recettes simples et rapides
    </h1>

    <p class="text-center">
        Découvrez l'ensemble des recettes du blog : des idées faciles et gourmandes 
        pour cuisiner rapidement au quotidien.
    </p>
{% endblock %}


 