 {% extends 'themes/base_visitor.html.twig' %}

 {% block title %}Accueil{% endblock %}

 {% block description %}Bienvenue sur le Blog de Sophie Lemoine sur les recettes de cuisines{% endblock %}

 {% block keywords %}Blog, Cuisine, Sophie Lemoine, Accueil{% endblock %}

 {% block main %}
    <h1 class="text-center my-3 display-5">Accueil</h1>
 {% endblock %}