{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Recettes de cuisine simples et rapides | Blog de Sophie Lemoine{% endblock %}

{% block description %}
    Découvrez des recettes de cuisine simples, rapides et faciles à réaliser au quotidien. 
    Des idées gourmandes pour toute la famille : entrées, plats, desserts et astuces cuisine.
{% endblock %}

{% block keywords %}
    recettes faciles, recettes rapides, cuisine simple, idées repas, cuisine familiale, 
    recettes maison, blog cuisine, recettes du quotidien
{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">
        Recettes de cuisine simples et rapides pour tous les jours
    </h1>

    <p class="text-center">
        🍴 Bienvenue sur le blog de Sophie Lemoine ! 
        Retrouvez des recettes faciles, rapides et gourmandes pour régaler toute la famille.
    </p>
{% endblock %}
